<nav class="navbar navbar-expand-lg navbar-light">
    <div class="navbar-nav">
        <a class="nav-item nav-link nav-profile btn" href="/profile"></a>
        <a class="nav-item nav-link nav-inventory btn" href="/inventory"></a>
        <button class="nav-item nav-link nav-trade btn"></button>




    </div>
</nav>

<div class="jumbotron jumbotron-fluid">

    <div class="item"></div>

    <div class="row button-container">

        <button class="btn trade" role="button"></button>
        <button class="btn pass" role="button"></button>


    </div>



</div>

<div class="jumbotron jumbotron-fluid">

    <div class="trade"></div>

    <div class="row button-container">

        <button class="btn trade" role="button"></button>
        <button class="btn pass" role="button"></button>


    </div>



</div>

<script type="text/javascript" src="assets/javascript/dashboard.js"></script>