<nav class="navbar navbar-expand-lg navbar-light">
    <div class="navbar-nav">

    </div>
</nav>


<div class="jumbotron jumbotron-fluid login-page">

    <h1>Welcome to tradeMe!</h1>
    <h5>the app that let's you trade things you don't want for things you want</h5>

    <div class="row button-container">

        <a class="btn signin" href="/signin">signin</a>
        <a class="btn signup" href="/signup">signup</a>


    </div>


</div>

<script type="text/javascript" src="assets/javascript/index.js"></script>