<!DOCTYPE html>
<html lang="en">

<head>

    <title>Inventory</title>


</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/dashboard">Trade</a>
            <a class="nav-item nav-link" href="/inventory">Inventory</a>
            <a class="nav-item nav-link" href="/profile">Profile</a>


        </div>

    </nav>

    <h1>Inventory</h1>


    <div class="jumbotron jumbotron-fluid">

        <div class="container">
            <div class="row inventory">



            </div>
        </div>



    </div>


</body>

</html>