<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav">
        <a class="nav-item nav-link nav-dashboard btn" href="/dashboard"></a>
        <a class="nav-item nav-link nav-profile btn" href="/profile"></a>


    </div>

</nav>

<div class="jumbotron jumbotron-fluid">

    <h1>Inventory</h1>


    <div class="container">
        <div class="row inventory">

            <div>

                <img class="inventory-image" src="assets/img/add-item.png">
            </div>



        </div>
    </div>



    <form id="cms">
        <div class="form-group">
            <label for="title">Item Name:</label>
            <input placeholder="Post Title" type="text" class="form-control" id="title">
            <br />
            <label for="body">Description:</label>
            <textarea placeholder="Post Body" class="form-control" rows="6" id="body"></textarea>

            <br />
            <button type="submit" class="btn btn-success submit">Submit</button>
        </div>
    </form>





</div>

<script type="text/javascript" src="assets/javascript/inventory.js"></script>