<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="/dashboard">Trade</a>
        <a class="nav-item nav-link" href="/inventory">Inventory</a>
        <a class="nav-item nav-link" href="/profile">Profile</a>


    </div>
</nav>

<h1>Profile</h1>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Your Name Here</h1>
        <img class="profile-img" src="assets/img/profile-picture.png" alt="Profile Picture">


        <p class="lead">Email</p>
        <p class="lead">Phone Number</p>
        <p class="lead">Address</p>

    </div>
</div>