<div class="jumbotron jumbotron-fluid">


    <form id="signup" class="login-form" name="signup" method="post" action="/signup">
        <input placeholder="Email Address" class="text" name="email" type="email" />
        <input placeholder="Firstname" name="firstname" type="text" />
        <input placeholder="Lastname" name="lastname" type="text" />
        <input placeholder="Password" name="password" type="password" />
        <input class="login-btn" type="submit" value="Sign Up" />
    </form>





</div>