<div class="jumbotron jumbotron-fluid">

    <form id="signin" class="login-form" name="signin" method="post" action="signin">

        <input placeholder="Email Address" class="text" name="email" type="text" />
        
        <input placeholder="Password" name="password" type="password" />
        
        <input class="login-btn" type="submit" value="Sign In" />
    </form>


</div>